.tab {
  width: 100%;
  height: 100%;
  background: #000;
}
.tab-nav {
  display: flex;
}
.tab-nav-item {
  background: #000;
  color: #fff;  
  padding: 10px 20px;
  text-decoration: none;
}
.tab-nav-item.is-active {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #fd7e00;
}
.tab-contents {
  background: #111111;
  color: #fff;
  height: 500px;
  padding: 20px;
}
.tab-contents-item {
  display: none;
}
.text1 {
  text-align: center ;
  font-weight:bold;
}

.text2 {
  text-align: center ;
}

button {
  background: #008000;
  color: #fff;
  border-radius: 5px;
  display: block;
  margin: auto;
}
